
agg-2\.5/

vasfmc/build-vasfmc-Desktop_Qt_5_8_0_MinGW_32bit-Debug/

vasfmc/navdata/

vaslib/build-vaslib-Desktop_Qt_5_8_0_MinGW_32bit-Debug/

xpfmcconn21/

vaslib/lib/FSUIPC_User\.lib

vasfmc/vasfmc\.log

vasfmc/vasfmc\.exe

vasfmc/persistence\.dat

vasfmc/cfg/
